/.metadata/
scaledFablix/*
*.iml
*.idea
*/target/*
**/.vscode
*/.settings/*
*/.classpath
*/.project
*/node_modules/*
**/*.iml
*/npm/*






# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
