[Unit]
Description=run python script to fetch data from USC API & generate csv

[Service]
Type=oneshot
ExecStart=bash ./updatedb.sh
WorkingDirectory=/home/USCccheduler/db/scripts