#calendar {
    margin: 25px auto auto auto;
}

#index {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 3em;
    font-weight: bold;
}

.buttons {
    display: inline-block;
    width: 25%;
    margin: auto;
}